:root {
    --gray: #43454D;
    --white: #FFFFFF;
    --black: #000000;
    --white-gray: #F5F5F5;
    --article-text: #909090;

}

* {
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    font-size: 10px;
    line-height: 1.6rem;
}

button {
    padding: 0px;
}

.grid {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
}


.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.px-32 {
    padding: 0 3.2rem;
}


@media (375px <=width <=1024px) {}