.btn {
    background: none;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

.btn-banner {
    width: fit-content;
    padding: 1.6rem 5.6rem;
    border-radius: 0.6rem;
}

.btn-full {
    width: 80%;
    border-radius: 0.6rem;
}

.btn-buy {
    width: 85%;
    padding: 0;
    height: 48px;
    border-radius: 0.8rem;
}

.btn:hover {
    opacity: 90%;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.btn-black {
    border: 1px solid var(--black);
    color: var(--black);
}

.btn-fill-black {
    border: none;
    background-color: var(--black);
    color: var(--white);
}

.btn-white {
    border: 1px solid var(--white);
    color: var(--white);
}

@media screen and (max-width: 768px) {
    .btn-buy {
        width: 95%;
    }
}