footer {
    background-color: var(--black);
    width: 100%;
    height: 504px;
    padding: 160px 7.2%;
}

.footer-content {
    color: var(--white);
    gap: 48px;
}


.footer-content .footer-col {
    align-items: flex-start;
    gap: 8px;
}

.footer-content .footer-col:nth-child(1) {
    width: 45%;
}


.footer-content .footer-col:nth-child(2) {
    width: 27%;
}


.footer-content .footer-col:nth-child(3) {
    width: 27%;
}

.footer-content .footer-col:nth-child(1) p {
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 170.5%;
}


.footer-col .footer-title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6rem;
}

.footer-col ul li {
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 3.2rem;
}

.footer-col ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-social {
    display: flex;
    gap: 37px;
    margin-top: 24px;
}

@media screen and (max-width: 768px) {

    .footer-content .footer-col:nth-child(1),
    .footer-content .footer-col:nth-child(2),
    .footer-content .footer-col:nth-child(3) {
        width: 100%;
        align-items: center;
    }


    /* Footer */
    footer {
        background-color: #181313;
        padding: 40px 4.2%;
        height: auto;
    }

    .footer-content {
        flex-direction: column;
        width: 100%;
        text-align: center;
        gap: 24px;
    }

    .footer-col {
        width: 100%;
    }

    .footer-social {
        justify-content: center;
    }
}